body {
  background-color: rgba(236, 53, 83, 0.669);
}

#screen {
  margin: auto;
  text-align: center;
}

#board {
  width: 440px;
  height: 440px;
  border: 10px solid rgb(255, 177, 192);
  background-color: rgb(70, 5, 19);
  margin: auto;
  text-align: center;
}

#score, #highScore {
  color: white;
  margin: auto;
  text-align: center;
}

#restart {
  margin: auto;
  text-align: center;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  user-select: none;
  margin: auto;
  text-align: center;
  position: relative;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}